header {
    position: relative;
    background-color: var(--background);
    width: 100%;
}
header::after {
 content: "";
 position: absolute;
 left: 50%;
 bottom: 0;
 height: 1px;
 width: 1000px ;
 background-color: var(--foreground);
 transform: translateX(-50%);
}
nav a {
    color: var(--foreground);
}

nav li {
    list-style: none;
    font-size: 16px;
    margin:10px;
}

.toggle-btn {
    width: 45px;
    height: 23px;
    background-color: #111;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
    cursor: pointer;
}
.ball {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: #fff;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: all .2s linear;
}